@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* ====================================
            body styles
==================================== */

body {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin        : 0;
    padding       : 0;
    font-family   : 'Poppins',
        sans-serif;
    box-sizing: border-box;
    background: #E5E5E5;
    ;
}

.bg--violet {
    background-color: #562EFF;
}

.bg--white {
    background-color: white;
}

.bg--ltred {
    background-color: rgba(254, 229, 223, 1);
}

.txt--white {
    color: white;
}

.txt--violet {
    color: #562EFF;
}

.txt--red {
    color: rgba(237, 107, 79, 1);
}

.txt--ash {
    color: rgba(162, 162, 162, 1);
}

/* ====================================
            navbar styles
==================================== */

.navbar {
    width          : 100%;
    height         : 5.88rem;
    display        : flex;
    align-content  : center;
    justify-content: space-around;
    align-items    : center;
}

.navbar__logo {
    width         : 12.5rem;
    display       : flex;
    flex-direction: row;
    margin-left   : 2.81rem;
}

.navbar__logo__img {
    width : 2.53rem;
}

.navbar__logo__title {
    display     : flex;
    align-items : center;
    padding-left: 0.97rem;
    font-size   : 1.5rem;
}

.navbar__nav {
    display     : flex;
    align-items : center;
    margin-right: 3.13rem;
}

.navbar__nav a {
    color          : #ffffff;
    font-style     : normal;
    padding-left   : 2.19rem;
    text-decoration: none;
}

.navbar__nav a img {
    height: 2.19rem;
    width : 2.19rem;
}


/* ====================================
            Card1 Styles
==================================== */

.card1 {
    width        : 54.38rem;
    height       : 42.44rem;
    margin-top   : 2.25rem;
    border-radius: 0.25rem;
    padding      : 2rem;
}

.card1__title {
    font-weight: 500;
    font-size  : 1.5rem;
    margin     : 0 0 2.5rem 0;
}

.card1__list {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom        : 2rem;
}

.card1__list__item {
    display    : flex;
    align-items: center;
    margin     : 1rem 1rem;
    margin-left: 0px;
}

.card1__list__item img {
    width : 3.5rem;
    height: 3.5rem;
}

.card1__list__item span {
    padding-left: 1rem;
    font-size   : 1.13rem;
    font-style  : normal;
    font-weight : 500;
}


/* ====================================
            Card2 Styles
==================================== */

.card2__list {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
}

.card2__list__item {
    display      : flex;
    margin-bottom: 1.5rem;
}

.card2__list__item img {
    width : 11.06rem;
    height: 7.31rem;
}

.card2__list__item__info {
    margin-left: 15px;
}

.card2__list__item__info__title {
    font-size : 1.25rem;
    margin    : 0;
    margin-top: 0.75rem;
}

.card2__list__item__info__writter {
    font-size : 1rem;
    margin    : 0;
    margin-top: 0.5rem;
}

.card2__list__item__info__writter span {
    color: rgba(162, 162, 162, 1);
}

/* ====================================
            Card3 Styles
==================================== */

.card3 {
    width        : 54.38rem;
    height       : 22.65rem;
    margin-top   : 2.25rem;
    border-radius: 0.25rem;
    padding      : 2rem;
    margin-bottom: 1.75;
}

.card3__list {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
}

.card3__list img {
    height       : 6.5rem;
    width        : 14rem;
    margin-bottom: 1.25rem;
}

.card3__list__item {
    width        : 14rem;
    border-radius: 1rem;
    padding      : 0.75rem;
    box-shadow   : 0 0 1.25rem rgba(0, 0, 0, 0.15);
}

.card3__list__item__title {
    margin     : 0;
    font-size  : 1.13rem;
    font-weight: 500;
    line-height: 1.15;
}

.card3__star__list {
    display       : flex;
    align-items   : center;
}

.card3__star__list a {
    padding-right: 0.13rem;
    font-size    : 0.75rem;
    color        : #FFC014;
}

.card3__rating {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-top     : 1.25rem;
}

.card3__rating span {
    font-size: 0.75rem;
}

.card3__time {
    border-radius: 1.25rem;
    padding      : 0 0.25rem 0 0.25rem;
    font-size    : 0.75rem;
}